@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --deckgo-highlight-code-carbon-header-button-height: 0px;
  --deckgo-highlight-code-carbon-header-button-width: 0px;
  --deckgo-highlight-code-carbon-header-button-margin: 0px;
  --deckgo-highlight-code-carbon-header-button-red-border: #fff;
  --deckgo-highlight-code-carbon-header-button-yellow-border: #fff;
  --deckgo-highlight-code-carbon-header-button-green-border: #fff;
}

@layer base {
  h1 {
    @apply text-2xl;
    @apply mb-1;
  }
  h2 {
    @apply text-xl;
    @apply mb-1;
  }
  ul {
    @apply list-disc;
    @apply ml-5;
    @apply my-2;
  }
  ol {
    @apply list-decimal;
    @apply ml-5;
    @apply my-2;
  }
}
